/bin/*
/files/iblocklist.txt.gz
/webserver/webserver.log
/webserver/webserver.pid
/webserver/webserver-dev.conf
/webserver/webserver-dev.pkcs12
/webserver/webserver-dev.url
/lib/*.jar
/target/
/pom.tree.txt
